.detail {
    width: 900px;
    margin: 40px 0px 40px 0px;
    height: 100%;
}

.video-wrapper {
    width: 900px;
    height: 500px;
}

.detail-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.detail-text {
    font-size: 16px;
    color: #ccc;
}

.home {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #86BFF5;
    text-decoration: none;
    margin-bottom: 20px;
}

.left-arrow {
    width: 20px;
    margin-right: 10px;
}

.project-buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.project-button {
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    color: #111;
    text-decoration: none;
    font-size : 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.project-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

@media (max-width: 910px) {
    .detail {
        width: 100%;
        margin-bottom: 100%;
    }

    .video-wrapper {
        width: 100%;
        height: 270px;
    }

    .detail-heading {
        font-size: 30px;
    }

    .detail-text {
        font-size: 14px;
    }

    .home {
        font-size: 16px;
    }

    .project-buttons {
        margin-top: 20px;
    }

    .project-button {
        width: auto;
        font-size: 16px;
    }

    .project-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .detail {
        width: 100%;
        margin-bottom: 100%;
    }

    .video-wrapper {
        width: 100%;
        height: 270px;
    }

    .detail-heading, .detail-text, .project-buttons {
        font-size: 30px;
        margin-left: 10px;
    }

    .left-arrow {
        margin-left: 10px;
    }

    .detail-text {
        font-size: 14px;
        width: 95%;
    }

    .home {
        font-size: 16px;
    }

    .project-buttons {
        margin-top: 20px;
    }

    .project-button {
        width: auto;
        font-size: 16px;
    }

    .project-icon {
        width: 20px;
        height: 20px;
    }
}