.contact {
    width: 900px;
    margin: 40px 0px 40px 0px;
}

.contact-heading {
    font-size: 30px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-card {
    display: flex;
    width: 210px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.contact-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.github {
    filter: invert(1);
}

.platform {
    color: #ccc;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.nickname {
    color: #fff;
    font-size: 16px;
}

.linkedin {
    color: #3b98fc;
}

.discord {
    color: #927AE8;
}