.Header {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #090323;
}

.logo {
    width: 90px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 16px;
}

@media (max-width: 910px) {
    .Header {
        width: 480px;
    }
}