.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App {
    font-family: 'DM Sans', sans-serif;
}

.heading {
    background: #86bff5;
    background: -webkit-linear-gradient(to right, #86bff5 0%, #927ae8 100%);
    background: -moz-linear-gradient(to right, #86bff5 0%, #927ae8 100%);
    background: linear-gradient(to right, #86bff5 0%, #927ae8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}